<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <filter>
  	<filter-name>UserFilter</filter-name>
  	<filter-class>com.dsm.filter.UserFilter</filter-class>
  	<init-param>  
      <param-name>noLoginPaths</param-name>  
      <param-value>login.jsp;index.jsp;404.jsp;error.jsp;</param-value>  
    </init-param>  
  </filter>
  <filter-mapping>
  	<filter-name>UserFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>FinaServlet</servlet-name>
    <servlet-class>com.dsm.controller.FinaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PersonnelServlet</servlet-name>
  	<servlet-class>com.dsm.controller.PersonnelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dsm.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PersonnelAutoServlet</servlet-name>
  	<servlet-class>com.dsm.controller.PersonnelAutoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SupplierAutoServlet</servlet-name>
  	<servlet-class>com.dsm.controller.SupplierAutoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SupplierServlet</servlet-name>
  	<servlet-class>com.dsm.controller.SupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearServlet</servlet-name>
    <servlet-class>com.dsm.controller.ClearServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StoreServlet</servlet-name>
  	<servlet-class>com.dsm.controller.StoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WarehouseServlet</servlet-name>
    <servlet-class>com.dsm.controller.WarehouseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonnelFileUpload</servlet-name>
    <servlet-class>com.dsm.controller.PersonnelFileUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OnSaleServlet</servlet-name>
    <servlet-class>com.dsm.controller.OnSaleServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>FinaServlet</servlet-name>
    <url-pattern>/FinaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PersonnelServlet</servlet-name>
  	<url-pattern>/PersonnelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PersonnelAutoServlet</servlet-name>
  	<url-pattern>/PersonnelAutoServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>SupplierAutoServlet</servlet-name>
  	<url-pattern>/SupplierAutoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SupplierServlet</servlet-name>
  	<url-pattern>/SupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearServlet</servlet-name>
    <url-pattern>/ClearServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StoreServlet</servlet-name>
  	<url-pattern>/StoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WarehouseServlet</servlet-name>
    <url-pattern>/WarehouseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonnelFileUpload</servlet-name>
    <url-pattern>/PersonnelFileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OnSaleServlet</servlet-name>
    <url-pattern>/OnSaleServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  

  <error-page>
	<error-code>404</error-code>
	<location>/404.jsp</location>
  </error-page>
  
</web-app>
