<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>UserFilter</filter-name>
  	<display-name>UserFilter</display-name>
  	<description></description>
  	<filter-class>com.dsm.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>UserFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>FinaServlet</servlet-name>
    <servlet-class>com.dsm.controller.FinaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PersonnelServlet</servlet-name>
  	<servlet-class>com.dsm.controller.PersonnelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dsm.controller.LoginServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>FinaServlet</servlet-name>
    <url-pattern>/FinaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PersonnelServlet</servlet-name>
  	<url-pattern>/PersonnelServlet/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>
